@import url(index.css);

/* custom styling */
.contact {
  background: snow;
}

form {
  border: 1px solid darkblue;
}

fieldset {
  border: 1px solid darkblue;
}

legend {
  border: 1px solid darkblue;
}

label {
  border: 1px solid darkblue;
}

input {
  border: 1px solid darkblue;
}

a {
  border: 1px solid none;
}

/* set input focus highlights */
input:focus {
  background: lime;
}

/* set hyperlink focus highlights */
a:focus {
  background: aqua;
}

#top {
  color: blue;
  font-weight: bold;
}

a:link {
  color: red;
}

a:visited {
  color: gray;
}

a:hover {
  color: green;
}

a:active {
  color: orange;
}
