@import url(./reset.css);
@import url(./phrase-o-matic.css);
@import url(./number-guessing.css);
@import url(./tic-tac-toe.css);

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  background: black;
  text-align: center;
  line-height: 1.25;
  color: white;
}

nav {
  background: white;
  padding: 1px 1px 1px 1px;
  color: black;
}

ul {
  background: white
  color: black;
}

li {
  list-style: none;
}
