@import url(./reset.css);
@import url(./phrase-o-matic.css);
@import url(./number-guessing.css);
@import url(./tic-tac-toe.css);
@import url(./boilerplate.css);
html {
  border: 1px solid none;
}

body {
  display: flex;
  flex-flow: column;
  text-align: center;
}

header {
  background: black;
  color: white;
}

nav {
  background: orange;
}

main {
  background: white;
}

section {
  background: lightgray;
}

article {
  background: gold;
}

aside,
footer {
  background: black;
  border: 1px dotted gold;
  color: white;
}

ul {
  background-color: black;
  font-size: 0.8rem;
  color: white;
}
