@import url(/index.css);

.btn {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid darkblue;
  margin-top: 20px;
  margin-left: auto;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  color: darkblue;
  font-size: 15px;
  cursor: pointer;
}

.page-container {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.page-container h2 {
  color: green;
}
.page-container input {
  font-size: large;
}

/* To be paired with JavaScript function */
#play-again-container {
  display: none;
}
