body {
  margin: 0;
  background: pink;
  text-align: center;
}

.about {
  background: lightgoldenrodyellow;
}

.product {
  background: lightgreen;
}

.contact {
  background: lightblue;
}

/* custom styling for about page */
.about .page-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
