@import url(/index.css);

p {
  margin-bottom: -20px;
}

/* Main Container */
main {
  background: silver;
  text-align: center;
}

/* Game User Interface */
.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Board 3x3 Matrix Layout */
.row {
  display: flex;
}

/* The Squares on the Board */
.cell {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lemonchiffon;
  border: 1px dotted gold;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
.cell:active {
  outline: none;
}

/* 3x3 Boxes in a Square */
#b1 {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

#b2 {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

#b3 {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

#b4 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

#b5 {
  border: 1px solid gray;
}

#b6 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

#b7 {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}

#b8 {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

#b9 {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

#reset-button {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid darkblue;
  margin-left: auto;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: whitesmoke;
  color: darkblue;
  font-size: 20px;
  cursor: pointer;
}

/* Player's Turn Space */
#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  font-size: 20px;
}

/* Game Instruction Text */
#instruction {
  border: 1px solid snow;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* color: darkblue; */
}

.print {
  background: tomato;
  font-family: monospace;
}
